div {
    min-width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

// p {
//     position: absolute;
//     /* top: auto; */
//     bottom: 0;
//     left: 0;
//     right: 0;
//     text-align: center;
//     line-height: 50px;
// }
h1,
p {
    text-align: center;
}
